body {
  background-color: rgb(131, 131, 131);
}

.board {
  display: flex;
  flex-direction: column;
  /* Alinea las filas verticalmente */
  align-items: center;
  /* Centra las filas dentro del tablero */
  margin-left: 1200px;
}

.board-row {
  display: flex;
  /* Alinea las casillas en fila */
}

.square {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
